/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*共通*/
body{
  margin: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 100%;
  box-sizing: border-box;
}
h1,h2,h4,p,a{
  color: #333; 
  margin: 0;
}
h4,p,a,li{
  font-size: .75rem;  
  font-weight: normal;
}
h1{
  font-size: 1.5rem;
}
h2{
  font-size: 1.25rem;  
}
h4,ul{
  margin: 0;  
}
span{
  font-weight: bold;  
}
a:hover{
  display: inline-block;
  background: #333;
  color: #fff;
}
.wrapper{
  padding: 30px;
}
.link{
  padding-top: 10px;  
}
/*エラー表示*/
.error-box{
  width: 100%;
  max-width: 500px;
  height: 120px;
  margin-top: 20px;
  border: 2px solid red;  
}
.error-box p{
  padding: 5px 5px 5px 10px;
  color: #fff;
  font-weight: bold;
  background: red;
}
.error-box ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 98px;
  padding-left: 60px;
}
.error-box li{
  line-height: 1.75;
  list-style: square;
}

/*Topページ*/
.top-text{
  padding-left: 30px;
}
.top-text p{
  line-height: 4;
}

/*Booksページ*/
table{
  width: 100%;
  max-width: 750px;
  margin: 20px 0;
}

th,td{
  font-size: .75rem;
}
td:first-of-type{
  width: 25%;
  /*width: calc((100% - 150px) / 3;*/
}
td:last-of-type{
  width: 150px;
}
td p{
  padding: 5px 0;  
}
td p a{
  display: inline-block;
  margin-right: 5px;
}
form{
  margin: 20px 0;
}
input,textarea{
  margin-bottom: 10px;  
}

/*showページ*/
.success{
  color: green;  
}
.show-text{
  margin-left: 30px;
}
.show-text p{
  padding-bottom: 25px;  
}
.border{
  font-weight: normal;  
}

/*editページ*/
